<section class="p-4 container">
  <div class="row p-lg-5 bg-dark rounded">
    <div class="container table-container table-responsive pt-3">
      <table class="table">
        <tr>
          <th class="table-blue">Patient</th>
          <td>
            <%= "#{@patient.first_name} #{@patient.last_name}" %>
          </td>
        </tr>
        <tr>
          <th class="table-yellow">Driver</th>
          <td>
            <% if @appointment.status.unassigned? %>
              <span style="color:red">Unassigned</span>
            <% else %>
              <% d = Driver.find(@appointment.driver_id) %>
                <%= "#{d.first_name} #{d.middle_init} #{d.last_name}" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="table-red">Pickup Date & Time</th>
            <td>
              <div class="container">
                <div class="row">
                  <%= Time.parse(@appointment.datetime).strftime("%a %b %d, %Y") %>
                </div>
                <div class="row">
                  <%= Time.parse(@appointment.datetime).strftime("%I:%M %p") %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th class="table-blue">Pick-Up Address</th>
            <td>
              <div class="row">
                <%= @appointment.locations[0].name %>
              </div>
              <div class="row">
                <%= @appointment.locations[0].addr1 %>
              </div>
              <div class="row">
                <%= @appointment.locations[0].addr2 %>
              </div>
              <div class="row">
                <%= "#{@appointment.locations[0].city}, #{@appointment.locations[0].state}, #{@appointment.locations[0].zip}" %>
              </div>
            </td>
          </tr>
          <tr>
            <th class="table-yellow">Destination Address</th>
            <td>
              <div class="row">
                <%= @appointment.locations[1].name %>
              </div>
              <div class="row">
                <%= @appointment.locations[1].addr1 %>
              </div>
              <div class="row">
                <%= @appointment.locations[1].addr2 %>
              </div>
              <div class="row">
                <%= "#{@appointment.locations[1].city}, #{@appointment.locations[1].state}, #{@appointment.locations[1].zip}" %>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="text-center pb-2">
        <%= button_to 'Back', root_url, method: 'get', class: "btn btn-outline-light btn-lg" %>
      </div>
    </div>
  </section>